Source: r-cran-pillar
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Uploaders: Andreas Tille <tille@debian.org>
Section: gnu-r
Testsuite: autopkgtest-pkg-r
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-r,
               r-base-dev,
               r-cran-cli,
               r-cran-crayon,
               r-cran-ellipsis (>= 0.3.2),
               r-cran-fansi,
               r-cran-lifecycle,
               r-cran-rlang,
               r-cran-utf8,
               r-cran-vctrs (>= 0.3.8)
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/r-pkg-team/r-cran-pillar
Vcs-Git: https://salsa.debian.org/r-pkg-team/r-cran-pillar.git
Homepage: https://cran.r-project.org/package=pillar
Rules-Requires-Root: no

Package: r-cran-pillar
Architecture: all
Depends: ${R:Depends},
         ${misc:Depends}
Recommends: ${R:Recommends}
Suggests: ${R:Suggests}
Breaks: r-cran-tibble (<< 2.1~)
Description: GNU R coloured formatting for columns
 This GNU R package provides a 'pillar' generic designed for formatting
 columns of data using the full range of colours provided by modern
 terminals.
